<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Todo list</title>
</head>
<body>
    
    <h1>Todo list</h1>

    <form action="/add" method="POST">

        <input type="text" name="content" id="content">
        <button type="submit">Dodaj</button>

    </form>

    {% for todo in todo_list %}
        <div>
            <p>{{ todo.id }}. {{ todo.title }}</p>

            {% if todo.complete == False %}
                <span>Nie zakończono</span>

            {% else %}
                <span>Zakończono</span>
            {% endif %}
            <Br>
            <a href="/update/{{ todo.id }}">Aktualizuj</a>
            <a href="/delete/{{ todo.id }}">Usuń</a>
        </div>

    {% endfor %}

</body>
</html>